Trash/
.git/
.vim/bundle
.vim/.netrwhist
.vifm/vifminfo
.config/tint2/*.tint2rc
.config/tint2/*.jpg
.emacs.d/elisp/ace-jump-mode/
.emacs.d/elisp/circe/
.emacs.d/elisp/emacs-async/
.emacs.d/elisp/evil-leader/
.emacs.d/elisp/evil-matchit/
.emacs.d/elisp/evil-surround/
.emacs.d/elisp/evil/
.emacs.d/elisp/helm/
.emacs.d/elisp/god-mode
*.elc
