!External Dependencies:
!
!xclip
!https://github.com/muennich/urxvt-perls/
!https://github.com/DaveDavenport/rofi
!
!Usage:
!
!xrdb -load ~/.Xresources
!
!TODO
!Create a palette using Apple Space Gray #b4b5b9
!More colors can be found at Adobe Color
!Use DejaVu Sans Mono for Italics

Xft.rgba:                      rgb
Xft.antialias:                 true
Xft.hinting:                   true
Xft.hintstyle:                 hintfull
Xft.dpi:                       96

rofi.font:                     DejaVu Sans Mono 10
rofi.fg:                       #eeeeee
rofi.bg:                       #121212
rofi.bc:                       #121212
rofi.fg-active:                #eeeeee
rofi.fg-urgent:                #dc322f
rofi.hlfg-active:              #ffffff
rofi.hlfg-urgent:              #fdf6e3
rofi.bg-active:                #285577
rofi.bg-urgent:                #fdf6e3
rofi.hlbg-active:              #285577
rofi.hlbg-urgent:              #dc322f
rofi.bgalt:                    #121212
rofi.hlfg:                     #ffffff
rofi.hlbg:                     #285577

Emacs.font:                    DejaVu Sans Mono-9
Emacs.menuBar:                 off
Emacs.toolBar:                 off
Emacs.verticalScrollBars:      off
