!External Dependencies:
!
!xclip
!https://github.com/muennich/urxvt-perls/
!https://github.com/DaveDavenport/rofi
!
!Usage:
!
!xrdb -load ~/.Xresources
!
!TODO
!Create a palette using Apple Space Gray #b4b5b9
!More colors can be found at Adobe Color
!Use DejaVu Sans Mono for Italics

Xft.rgba:                      rgb
Xft.antialias:                 true
Xft.hinting:                   true
Xft.hintstyle:                 hintfull
Xft.dpi:                       96

xterm*termName:                xterm-256color
xterm*locale:                  true
xterm*metaSendsEscape:         true
xterm*saveLines:               4096
xterm*faceName:                DejaVu Sans Mono:size=10:antialias=false
xterm*font:                    7x13

rofi.font:                     Terminus 8
rofi.fg:                       #ffffff
rofi.bg:                       #121212
rofi.bgalt:                    #121212
rofi.bg-urgent:                #fdf6e3
rofi.bc:                       #171717
rofi.fg-active:                #ffffff
rofi.bg-active:                #222222
rofi.fg-urgent:                #dc322f
rofi.hlfg-active:              #000000
rofi.hlbg-active:              #eeeeee
rofi.hlbg-urgent:              #dc322f
rofi.hlfg-urgent:              #fdf6e3
rofi.hlfg:                     #ffffff
rofi.hlbg:                     #285577
rofi.separator-style:          solid
rofi.hide-scrollbar:           true

Emacs.font:                    DejaVu Sans Mono-9
Emacs.menuBar:                 off
Emacs.toolBar:                 off
Emacs.verticalScrollBars:      off
